@import 'tailwindcss';

.scrollbar-hide {
    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none;       /* IE và Edge cũ */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;                  /* Chrome, Safari */
}

.podcast-card:hover .play-icon {
    display: flex;
}